<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
  <div class="container-fluid d-flex">
    <div class="flex-grow-1 ms-5 mt-3">
      <img [src]="ImagemPathLogo" style="width: 70px" />
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end espaco-itens-logo"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <span>
            <a
              routerLink="/home"
              Match="NavLinkMatch.All"
              class="nav-link a-link text-decoration-none"
              >Principal
            </a>
          </span>
        </li>
        <li class="nav-item">
          <span>
            <a [matMenuTriggerFor]="menu" class="nav-link a-link"
              >Ficha de Inscrição</a
            >
            <mat-menu #menu="matMenu">
              <a mat-menu-item routerLink="/conectado">Conectado</a> 
              <a mat-menu-item routerLink="/lider">Líder</a>
            </mat-menu>
          </span>
        </li>
        <li class="nav-item">
          <span>
            <a routerLink="/sobre" class="nav-link a-link text-decoration-none"
              >Sobre
            </a>
          </span>
        </li>
        <li class="nav-item" *ngIf="isMenuItemVisible('Membros')">
          <span>
            <a
              routerLink="/membros"
              class="nav-link a-link text-decoration-none"
              >Membros
            </a>
          </span>
        </li>
        <li class="nav-item" *ngIf="isMenuItemVisible('Tribos/Equipes')">
          <span>
            <a
              routerLink="/tribo-equipes"
              class="nav-link a-link text-decoration-none"
              >Tribos / Equipes
            </a>
          </span>
        </li>
        <li class="nav-item" *ngIf="isMenuItemVisible('Cadastro Sião')">
          <span>
            <a [matMenuTriggerFor]="cadastro" class="nav-link a-link"
              >Cadastros Sião</a
            >
            <mat-menu #cadastro="matMenu">
              <a
                mat-menu-item
                routerLink="/siao"
                *ngIf="isMenuItemVisible('Sião')"
                >Sião</a
              >
              <a
                mat-menu-item
                routerLink="/areas-servico"
                *ngIf="isMenuItemVisible('Área')"
                >Áreas</a
              >
              <a
                mat-menu-item
                routerLink="/inscricoes-conectados"
                *ngIf="isMenuItemVisible('Inscricões')"
                >Inscrições conectados</a
              >
              <a
                mat-menu-item
                routerLink="/inscricoes-lideres"
                *ngIf="isMenuItemVisible('Inscrições Líderes')"
                >Inscrições Líderes</a
              >
            </mat-menu>
          </span>
        </li>
        <li class="nav-item" *ngIf="isMenuItemVisible('Administração')">
          <span>
            <a [matMenuTriggerFor]="administrativo" class="nav-link a-link"
              >Administrativo</a
            >
            <mat-menu #administrativo="matMenu">
              <a
                mat-menu-item
                routerLink="/novo-usuario"
                *ngIf="isMenuItemVisible('Novo Usuário')"
                >Novo usuário</a
              >
              <a
                mat-menu-item
                routerLink="/redefinir-senha"
                *ngIf="isMenuItemVisible('Redefinir Senha')"
                >Redefinir senha</a
              >
              <a
                mat-menu-item
                routerLink="/redefinir-acesso"
                *ngIf="isMenuItemVisible('Redefinir Acesso')"
                >Redefinir acesso</a
              >
              <button
                mat-menu-item
                [matMenuTriggerFor]="fechamentoPagamento"
                *ngIf="isMenuItemVisible('Fechamento/Pagamentos')"
              >
                Fechamento/Pagamentos
              </button>
              <button
                mat-menu-item
                [matMenuTriggerFor]="Financeiro"
                *ngIf="isMenuItemVisible('Financeiro')"
              >
                Financeiro
              </button>
            </mat-menu>
            <mat-menu #fechamentoPagamento="matMenu">
              <a
                mat-menu-item
                routerLink="/fechamentos"
                *ngIf="isMenuItemVisible('Fechamento - Sião')"
                >Fechamento - Sião</a
              >
              <a
                mat-menu-item
                routerLink="/saidas"
                *ngIf="isMenuItemVisible('Saída - Pagamentos')"
                >Saídas - Pagamentos</a
              >
              <a
                mat-menu-item
                routerLink="/descontos"
                *ngIf="isMenuItemVisible('Descontos - Pagamentos')"
                >Descontos - Pagamentos</a
              >
              <a
                mat-menu-item
                routerLink="/fornecedores"
                *ngIf="isMenuItemVisible('Fornecedor - Pagamentos')"
                >fornecedores - Pagamentos</a
              >
              <a
                mat-menu-item
                routerLink="/pendencias"
                *ngIf="isMenuItemVisible('Pendências - Pagamentos')"
                >Pendências - Pagamentos</a
              >
              <a
                mat-menu-item
                routerLink="/oferta-Siao"
                *ngIf="isMenuItemVisible('Ofertas - Sião')"
                >Ofertas Sião - Pagamentos</a
              >
              <a
                mat-menu-item
                routerLink="/lanchonete"
                *ngIf="isMenuItemVisible('Lançamentos Lanchonete')"
                >Lançamentos lanchonete</a
              >
            </mat-menu>
            <mat-menu #Financeiro="matMenu">
              <a
                mat-menu-item
                routerLink="/registrar-financeiro"
                *ngIf="isMenuItemVisible('Registrar Financeiro')"
                >Registrar Financeiro</a
              >
              <a
                mat-menu-item
                routerLink="/despesas-obrigacoes"
                *ngIf="isMenuItemVisible('Despesas e Obrigações')"
                >Despesas e Obrigações</a
              >
              <a
                mat-menu-item
                routerLink="/dados-financeiro"
                *ngIf="isMenuItemVisible('Visualizar Financeiro')"
                >Visualizar Financeiro</a
              >
              <a
                mat-menu-item
                routerLink="/TiposSaida"
                *ngIf="isMenuItemVisible('Tipos de Saída')"
                >Tipos de Saída</a
              >
            </mat-menu>
          </span>
        </li>
        <li class="nav-item" *ngIf="isMenuItemVisible('Login')">
          <span>
            <a
              href=""
              routerLink="/login"
              class="nav-link a-link text-decoration-none"
            >
              Login
            </a>
          </span>
        </li>
        <li class="nav-item" *ngIf="isMenuItemVisible('Logout')">
          <span>
            <a
              href=""
              routerLink="/logout"
              class="nav-link a-link text-decoration-none"
            >
              Logout
            </a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
