<br />
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header p-1" style="background-color: #363636; color: azure">
          <h5 class="m-1 fw-bold">Perfil de acesso</h5>
        </div>
        <div class="card-body">
          <div class="card border-dark">
            <div class="card-header p-1" style="background-color: #dcdcdc">
              <h5 class="m-1 fw-bold">Registre um novo perfil de acesso</h5>
            </div>
            <div class="card-body">
              <form [formGroup]="form" novalidate>
                <div class="row">
                  <div class="col-lg-5">
                    <mat-form-field style="width: 300px">
                      <mat-label>Contratos<span style="color: red">*</span></mat-label>
                      <mat-select formControlName="contratoSelecionadoId" (selectionChange)="contratoSelecionado()">
                        @for (contratoSelect of contratos; track contratoSelect)
                        {
                        <mat-option [value]="contratoSelect.id">{{
                          contratoSelect.nome
                          }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-5">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Perfil</span>
                      <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" style="text-transform: uppercase"
                        formControlName="perfilName" required />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <mat-form-field style="width: 300px">
                      <mat-label>Status<span style="color: red">*</span></mat-label>
                      <mat-select formControlName="statusSelecionadoId" (selectionChange)="statusSelecionado()">
                        @for (statusSelect of statusLista; track statusSelect)
                        {
                        <mat-option [value]="statusSelect.id">{{
                          statusSelect.nome
                          }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <mat-accordion class="example-headers-align" multi>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Acessos
                      </mat-panel-title>
                      <mat-panel-description>
                        Selecione os acessos do perfil
                        <mat-icon>account_circle</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="row">
                      <div class="col-lg-6">
                        <p><mat-checkbox formControlName="tribosEquipes">Tribos/Equipes</mat-checkbox></p>
                        <p><mat-checkbox formControlName="membros">Membros</mat-checkbox></p>
                        <p><mat-checkbox formControlName="cadastroEvento">Cadastro Evento</mat-checkbox></p>
                        <p><mat-checkbox formControlName="eventosSele">Evento</mat-checkbox></p>
                        <p><mat-checkbox formControlName="area">Área</mat-checkbox></p>
                        <p><mat-checkbox formControlName="inscricoes">Inscricões</mat-checkbox></p>
                        <p><mat-checkbox formControlName="inscricoesVoluntarios">Inscrições Voluntários</mat-checkbox>
                        </p>
                        <p><mat-checkbox formControlName="administracoe">Administração</mat-checkbox></p>
                        <p><mat-checkbox formControlName="redefinirSenha">Redefinir Senha</mat-checkbox></p>
                        <p><mat-checkbox formControlName="redefinirAcesso">Redefinir Acesso</mat-checkbox></p>
                        <p><mat-checkbox formControlName="fechamentoPagamentos">Fechamento/Pagamentos</mat-checkbox></p>
                      </div>
                      <div class="col-lg-6">
                        <p><mat-checkbox formControlName="ofertasEvento">Ofertas - Evento</mat-checkbox></p>
                        <p><mat-checkbox formControlName="lanchonete">Lançamentos Lanchonete</mat-checkbox></p>
                        <p><mat-checkbox formControlName="financeiro">Financeiro</mat-checkbox></p>
                        <p><mat-checkbox formControlName="registrarFinanceiro">Registrar Financeiro</mat-checkbox></p>
                        <p><mat-checkbox formControlName="despesasObrigações">Despesas e Obrigações</mat-checkbox></p>
                        <p><mat-checkbox formControlName="visualizarFinanceiro">Visualizar Financeiro</mat-checkbox></p>
                        <p><mat-checkbox formControlName="tiposSaida">Tipos de Saída</mat-checkbox></p>
                        <p><mat-checkbox formControlName="novoUsuario">Novo Usuário</mat-checkbox></p>
                        <p><mat-checkbox formControlName="fechamentoEvento">Fechamento - Evento</mat-checkbox></p>
                        <p><mat-checkbox formControlName="SaidaPagamentos">Saída - Pagamentos</mat-checkbox></p>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>

              </form>
            </div>
            <div class="card-footer d-flex flex-row-reverse">
              <button mat-stroked-button color="primary" (click)="novo()">
                Registrar
              </button>
            </div>
          </div>
        </div>
        <br />
        <div class="card m-3">
          <div class="card-header p-1" style="background-color: #dcdcdc">
            <h5 class="m-1 fw-bold">Tabela de perfil de acessos</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="row mb-3">
                <div class="col-lg-6">
                  <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm" style="text-transform: uppercase"
                      placeholder="Buscar uma área de atuação..." [(ngModel)]="searchText" />
                  </div>
                </div>
              </div>
            </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let item of filteredPerfilArray
                      | paginate
                        : {
                            itemsPerPage: 10,
                            currentPage: pageNumber,
                            totalItems: count
                          }
                  ">
                  <td style="text-transform: uppercase">{{ item.nome }}</td>
                  <td>
                    <button mat-raised-button color="accent" (click)="Editar(item.id)" aria-label="Visualizar docs">
                      Editar
                    </button>
                  </td>
                  <td>
                    <button mat-raised-button color="primary" (click)="Detalhar(item.id)" aria-label="Visualizar docs">
                      Detalhar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-3 mb-3 d-flex justify-content-end">
            <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card border-dark p-2" style="background-color: #e7e7e7" *ngIf="isAtualizar">
        <div class="card-header">
          <h2 class="text-center fw-bold">
            Editar perfil
          </h2>
        </div>
        <form [formGroup]="formEditar" novalidate>
          <mat-list>
            <mat-list-item>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nome:</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm" style="text-transform: uppercase" formControlName="perfilName"
                  required />
              </div>
            </mat-list-item>
            <mat-divider class="m-3"></mat-divider>


            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Acessos
                  </mat-panel-title>
                  <mat-panel-description>
                    Selecione os acessos do perfil
                    <mat-icon>account_circle</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                  <div class="col-lg-6">
                    <p><mat-checkbox formControlName="tribosEquipes"
                        [checked]="tribosEquipes">Tribos/Equipes</mat-checkbox></p>
                    <p><mat-checkbox formControlName="membros">Membros</mat-checkbox></p>
                    <p><mat-checkbox formControlName="cadastroEvento">Cadastro Evento</mat-checkbox></p>
                    <p><mat-checkbox formControlName="eventosSele">Evento</mat-checkbox></p>
                    <p><mat-checkbox formControlName="area">Área</mat-checkbox></p>
                    <p><mat-checkbox formControlName="inscricoes">Inscricões</mat-checkbox></p>
                    <p><mat-checkbox formControlName="inscricoesVoluntarios">Inscrições Voluntários</mat-checkbox>
                    </p>
                    <p><mat-checkbox formControlName="administracoe">Administração</mat-checkbox></p>
                    <p><mat-checkbox formControlName="redefinirSenha">Redefinir Senha</mat-checkbox></p>
                    <p><mat-checkbox formControlName="redefinirAcesso">Redefinir Acesso</mat-checkbox></p>
                    <p><mat-checkbox formControlName="fechamentoPagamentos">Fechamento/Pagamentos</mat-checkbox></p>
                  </div>
                  <div class="col-lg-6">
                    <p><mat-checkbox formControlName="ofertasEvento">Ofertas - Evento</mat-checkbox></p>
                    <p><mat-checkbox formControlName="lanchonete">Lançamentos Lanchonete</mat-checkbox></p>
                    <p><mat-checkbox formControlName="financeiro">Financeiro</mat-checkbox></p>
                    <p><mat-checkbox formControlName="registrarFinanceiro">Registrar Financeiro</mat-checkbox></p>
                    <p><mat-checkbox formControlName="despesasObrigações">Despesas e Obrigações</mat-checkbox></p>
                    <p><mat-checkbox formControlName="visualizarFinanceiro">Visualizar Financeiro</mat-checkbox></p>
                    <p><mat-checkbox formControlName="tiposSaida">Tipos de Saída</mat-checkbox></p>
                    <p><mat-checkbox formControlName="novoUsuario">Novo Usuário</mat-checkbox></p>
                    <p><mat-checkbox formControlName="fechamentoEvento">Fechamento - Evento</mat-checkbox></p>
                    <p><mat-checkbox formControlName="SaidaPagamentos">Saída - Pagamentos</mat-checkbox></p>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>

            <mat-divider class="m-3"></mat-divider>

            <mat-form-field style="width: 300px">
              <mat-label>Status<span style="color: red">*</span></mat-label>
              <mat-select formControlName="statusSelecionadoId" (selectionChange)="statusSelecionado()">
                @for (statusSelect of statusLista; track statusSelect)
                {
                <mat-option [value]="statusSelect.id">{{
                  statusSelect.nome
                  }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-divider class="m-3"></mat-divider>
            <mat-list-item>
              <button mat-flat-button color="accent" class="ms-3" (click)="Atualizar()">
                Atualizar
              </button>
            </mat-list-item>
          </mat-list>
        </form>
      </div>
      <div class="card border-dark p-2" style="background-color: #d6d6d6" *ngIf="isDetalhar">
        <form [formGroup]="formEditar" novalidate>
          <h2 class="text-center fw-bold">Detalhar perfil</h2>
          <mat-list>
            <mat-list-item style="text-transform: uppercase">Perfil: {{ Nome }}</mat-list-item>
            <mat-divider></mat-divider>
            <p class="m-3">Acessos:</p>
            <ul class="list-group m-3" *ngFor="let transacao of transacoes">
              <li class="list-group-item">{{transacao.nome}}</li>
            </ul>
            <mat-divider></mat-divider>
            <p class="m-3">Status:</p>
            <ul class="list-group m-3">
              <li class="list-group-item">{{status}}</li>
            </ul>
            <mat-divider></mat-divider>
          </mat-list>

        </form>
      </div>
    </div>
  </div>
</div>
<br />