<br />
<div class="container">
  <form [formGroup]="form" novalidate>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-lg-12">
            <mat-form-field style="width: 100%;">
              <mat-label>Título</mat-label>
              <input matInput formControlName="titulo"/>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <mat-form-field style="width: 100%;">
              <mat-label>subtítulo</mat-label>
              <input matInput formControlName="subtitulo"/>
            </mat-form-field>
          </div>
        </div>

        <div class="input-group">
          <input
            type="file"
            class="form-control"
            id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04"
            aria-label="Upload"
            accept="image/png"
            (change)="onFileSelected($event)"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="inputGroupFileAddon04"
          >
            Imagem
          </button>
        </div>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="inserir()">
            Inserir informações
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>
</div>
<br />
<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          (click)="gerarDPF()"
          aria-label="Visualizar docs"
        >
          Gerar PDF
        </button>
      </mat-card-actions>
    </mat-card-content></mat-card
  >
</div>
<div class="container p-3" id="content" #content>
  <div class="border p-3">
    <div class="d-flex justify-content-start mb-2">
      <img [src]="src" alt="Imagem do relatório" class="imagem" />
      <div>
        <h1 class="titulo pt-2">{{ data.nome }}</h1>
        <h1 class="titulo">{{ data.tituloRelatorio }}</h1>
        <h2 class="sub-titulo">{{ data.subTituloRelatorio }}</h2>
      </div>
    </div>
    <table border="1" class="tabela">
      <thead>
        <tr>
          <th class="coluna-1">Nome</th>
          <th class="coluna-2 text-center">Tribo/Equipe</th>
          <th class="coluna-3 text-center">Sexo</th>
          <th class="coluna-4 text-center">Área</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.dados">
          <td>{{ item.nome }}</td>
          <td class="text-center">
            {{ item.tribo }}
          </td>
          <td class="text-center">
            {{ item.sexo === 1 ? "Masculino" : "Feminino" }}
          </td>
          <td class="text-center">{{ item.area }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
