span {
    margin: 10px;
}

.titulo-1 {
    background-color: rgb(92, 89, 89);
    color: aliceblue;
    font-size: 1.3rem;
}

.card-style-1 {
    background-color: rgb(24, 101, 163);
    color: aliceblue;
}

.card-style-1 .card-subtitulo-1 {
    color: aliceblue;
}

.card-style-2 {
    background-color: rgb(184, 92, 6);
    color: aliceblue;
}

.card-style-2 .card-subtitulo-2 {
    color: aliceblue;
}
.card-style-3 {
    background-color: rgb(150, 125, 17);
    color: aliceblue;
}

.card-style-3 .card-subtitulo-3 {
    color: aliceblue;
}
.card-style-4 {
    background-color: rgb(102, 32, 32);
    color: aliceblue;
}

.card-style-4 .card-subtitulo-4 {
    color: aliceblue;
}
.card-style-5 {
    background-color: rgb(64, 151, 78);
    color: aliceblue;
}

.card-style-5 .card-subtitulo-5 {
    color: aliceblue;
}
.card-style-6 {
    background-color: rgb(13, 106, 182);
    color: aliceblue;
}

.card-style-6 .card-subtitulo-6 {
    color: aliceblue;
}

.card-style-7 {
    background-color: rgb(12, 105, 74);
    color: aliceblue;
    height: 100px;
}

.card-style-7 .card-subtitulo-7 {
    color: aliceblue;
}


.card-style-saida-1 {
    background-color: rgb(65, 168, 56);
    color: aliceblue;
}

.card-style-saida-2 {
    background-color: rgb(187, 169, 5);
    color: aliceblue;
}

.card-style-saida-3 {
    background-color: rgb(163, 43, 43);
    color: aliceblue;
}

.card-style-saida-4 {
    background-color: rgb(48, 96, 168);
    color: aliceblue;
}

.card-subtitulo-saida {
    color: aliceblue;
}
