<br />
<div class="container-fluid p-0 m-0">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/bfs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/familia.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/Bfs321.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<br />
<div class="container">
    <div class="row justify-content-center align-items-center p-1">
        <div class="col-lg-2 d-flex justify-content-center m-1">
            <div class="card" style="width: 12rem;">
                <img src="assets/img/ONDEDAY.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">ONE DAY</h5>
                    <p>Quita-feira</p>
                    <p>20 horas</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center m-1">
            <div class="card" style="width: 12rem;">
                <img src="assets/img/321.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">321</h5>
                    <p>Sábado</p>
                    <p>19 horas</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center m-1">
            <div class="card" style="width: 12rem;">
                <img src="assets/img/FAMILIA_CULTO.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">família</h5>
                    <p>Domingo</p>
                    <p>10 horas</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-center m-1">
            <div class="card" style="width: 12rem;">
                <img src="assets/img/CELEBRACAO.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Celebração</h5>
                    <p>Domingo</p>
                    <p>19 horas</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />