<div>
  <button
    mat-raised-button
    color="primary"
    (click)="gerarDPF()"
    aria-label="Visualizar docs"
  >
    PDF
  </button>
</div>
<div class="container p-3" id="content" #content>
  <div class="border p-3">
    <div class="d-flex justify-content-start mb-2">
      <div>
        <h1 class="titulo">{{ data.tituloRelatorio }} - {{ data.nome }}</h1>
      </div>
    </div>
    <table border="1" class="tabela">
      <thead>
        <tr>
          <th style="width: 5%;">QTD</th>
          <th class="coluna-1">Nome</th>
          <th class="coluna-2 text-center">Tribo/Equipe</th>
          <th style="width: 5%;">Autorização</th>
          <th style="width: 5%;">Pré-sião</th>
          <th style="width: 5%;">Aliança</th>
          <th style="width: 5%;">Saída Igreja</th>
          <th style="width: 5%;">Sião Chegada</th>
          <th style="width: 5%;">Batismo</th>
          <th style="width: 5%;">Sião Saída</th>
          <th>Observação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.dados">
          <td>{{ interacao }}</td>
          <td>{{ item.nome }}</td>
          <td class="text-center">
            {{ item.tribo }}
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
