<div>
  <div class="row">
    <div class="col-lg-3 p-5 m-5">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Check-In Conectados</mat-card-title>
            <mat-card-subtitle>
              <button mat-button (click)="conectados()">Configurar</button>
            </mat-card-subtitle>
            <img mat-card-sm-image src="assets/img/report.png" />
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-lg-3 p-5 m-5">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Check-In Voluntários</mat-card-title>
              <mat-card-subtitle>
                <button mat-button (click)="voluntario()">Configurar</button>
              </mat-card-subtitle>
              <img mat-card-sm-image src="assets/img/report.png" />
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
    </div>
    <div class="col-lg-3 p-5 m-5"></div>
  </div>
</div>
