<br />
<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <mat-card class="p-5">
      <mat-card-header class="pt-5 ps-5 pe-5">
        <mat-card-title class="mb-4 fs-3">Entre com seu acesso</mat-card-title>
        <mat-card-subtitle>
          <form [formGroup]="loginForm" novalidate>
            <div class="example-container">
              <mat-form-field style="width: 300px">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="pat@example.com"
                  formControlName="email"
                  required
                />
                <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                  <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                    {{ errorMessage }}
                  </mat-error>              
                </div>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-container" style="width: 300px">
                <mat-label>Sua senha</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="senha"
                  required
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <div *ngIf="loginForm.controls['senha'].invalid && (loginForm.controls['senha'].dirty || loginForm.controls['senha'].touched)">
                  <mat-error *ngIf="loginForm.controls['senha'].hasError('required')">
                    {{ errorMessage }}
                  </mat-error>              
                </div>
              </mat-form-field>
            </div>
          </form>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="pb-5 ps-5 pe-5" align="end">
        <button mat-stroked-button color="primary" (click)="fazerLogin()">
          Acessar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
