<br />
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div
          class="card-header p-1"
          style="background-color: #000000; color: azure"
        >
          <h5 class="m-1 fw-bold">Evento</h5>
        </div>
        <div class="card-body">
          <div class="card border-dark">
            <div class="card-header p-1" style="background-color: #dcdcdc">
              <h5 class="m-1 fw-bold">Registre o novo Evento</h5>
            </div>
            <div class="card-body">
              <form [formGroup]="form" novalidate>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >Evento</span
                      >
                      <input
                        type="text"
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm"
                        style="text-transform: uppercase"
                        formControlName="evento"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >Coordenadores</span
                      >
                      <input
                        type="text"
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm"
                        style="text-transform: uppercase"
                        formControlName="coordenadores"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm"
                        >Descrição</span
                      >
                      <input
                        type="text"
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm"
                        style="text-transform: uppercase"
                        formControlName="descricao"
                        required
                      />
                    </div>
                  </div>
                </div>
                <mat-card>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-lg-5">
                        <mat-form-field>
                          <mat-label>Escolha a data de início</mat-label>
                          <input
                            matInput
                            [matDatepicker]="picker1"
                            formControlName="inicio"
                          />
                          <mat-datepicker-toggle
                            matIconSuffix
                            [for]="picker1"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-5">
                        <mat-form-field>
                          <mat-label>Escolha a data de término</mat-label>
                          <input
                            matInput
                            [matDatepicker]="picker2"
                            formControlName="termino"
                          />
                          <mat-datepicker-toggle
                            matIconSuffix
                            [for]="picker2"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-2">
                        <mat-form-field>
                          <mat-label>Status</mat-label>
                          <mat-select formControlName="status">
                            @for (status of isStatus; track status) {
                            <mat-option [value]="status.id">{{
                              status.st
                            }}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </form>
            </div>
            <div class="card-footer d-flex flex-row-reverse">
              <button mat-stroked-button color="primary" (click)="novo()">
                Registrar
              </button>
            </div>
          </div>
        </div>
        <br />
        <div class="card m-3">
          <div class="card-header p-1" style="background-color: #dcdcdc">
            <h5 class="m-1 fw-bold">Tabela dos eventos registrados</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="row mb-3">
                <div class="col-lg-6">
                  <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm"
                      >Buscar</span
                    >
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm"
                      style="text-transform: uppercase"
                      placeholder="Buscar evento..."
                      [(ngModel)]="searchText"
                    />
                  </div>
                </div>
              </div>
            </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Início</th>
                  <th>Termino</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of filteredSiaoArray
                      | paginate
                        : {
                            itemsPerPage: 10,
                            currentPage: pageNumber,
                            totalItems: count
                          }
                  "
                >
                  <td style="text-transform: uppercase">{{ item.nome }}</td>
                  <td>{{ formatDate(item.inicio) }}</td>
                  <td>{{ formatDate(item.termino) }}</td>
                  <td>{{ getStatusName(item.status) }}</td>
                  <td>
                    <button
                      mat-raised-button
                      color="accent"
                      (click)="Editar(item.id)"
                      aria-label="Visualizar docs"
                    >
                      Editar
                    </button>
                  </td>
                  <td>
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="Detalhar(item.id)"
                      aria-label="Visualizar docs"
                    >
                      Detalhar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-3 mb-3 d-flex justify-content-end">
            <pagination-controls
              (pageChange)="onPageChange($event)"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="card border-dark p-2"
        style="background-color: #e7e7e7"
        *ngIf="isAtualizar"
      >
        <div class="card-header">
          <h2 class="text-center fw-bold">Editar informações do evento</h2>
        </div>
        <form [formGroup]="formEditar" novalidate>
          <mat-list>
            <mat-list-item>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"
                  >Evento:</span
                >
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm"
                  style="text-transform: uppercase"
                  formControlName="evento"
                  required
                />
              </div>
            </mat-list-item>
            <mat-divider class="m-3"></mat-divider>
            <mat-list-item>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"
                  >Coordenadores:</span
                >
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm"
                  style="text-transform: uppercase"
                  formControlName="coordenadores"
                  required
                />
              </div>
            </mat-list-item>
            <mat-divider class="m-3"></mat-divider>
            <div class="input-group input-group-sm ms-3">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Descrição</span
              >
              <input
                type="text"
                class="form-control me-4"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                style="text-transform: uppercase"
                formControlName="descricao"
                required
              />
            </div>
            <mat-divider class="m-3"></mat-divider>
            <mat-form-field class="ms-3 me-3">
              <mat-label>Data de início</mat-label>
              <input
                matInput
                [matDatepicker]="picker1"
                formControlName="inicio"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-divider class="m-3"></mat-divider>
            <mat-form-field class="ms-3 me-3">
              <mat-label>Data de término</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                formControlName="termino"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-divider class="m-3"></mat-divider>
            <mat-label class="ms-3">Token: {{ this.tokenEvento }}</mat-label>
            <button
              mat-flat-button
              color="accent"
              class="ms-3"
              (click)="Copiar()"
            >
              {{ valorBotao }}
            </button>
            <mat-divider class="m-3"></mat-divider>
            <mat-list-item>
              <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                  @for (status of isStatus; track status) {
                  <mat-option [value]="status.id">{{ status.st }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <button
                mat-flat-button
                color="accent"
                class="ms-3"
                (click)="Atualizar()"
              >
                Atualizar
              </button>
            </mat-list-item>
          </mat-list>
        </form>
      </div>
      <div
        class="card border-dark p-2"
        style="background-color: #d6d6d6"
        *ngIf="isDetalhar"
      >
        <form [formGroup]="formEditar" novalidate>
          <h2 class="text-center fw-bold">Detalhes do Evento</h2>
          <mat-list>
            <mat-list-item style="text-transform: uppercase"
              >Evento: {{ Evento }}</mat-list-item
            >
            <mat-divider></mat-divider>
            <mat-list-item style="text-transform: uppercase"
              >Coordenadores:
            </mat-list-item>
            <mat-list-item style="text-transform: uppercase">{{
              Coordenadores
            }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item style="text-transform: uppercase"
              >Data de início e termino:
            </mat-list-item>
            <mat-list-item style="text-transform: uppercase"
              >{{ Inicio }} - {{ Termino }}</mat-list-item
            >
            <mat-divider></mat-divider>
            <mat-list-item style="text-transform: uppercase"
              >Status: {{ Status }}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item style="text-transform: uppercase"
              >Descrição:</mat-list-item
            >
            <mat-list-item style="text-transform: uppercase"
              >{{ Descricao }}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-label class="ms-3"
              >Token:
              <span style="color: rgb(20, 102, 102)">{{
                this.tokenEvento
              }}</span></mat-label
            >
            <button
              mat-flat-button
              color="accent"
              class="ms-3"
              (click)="Copiar()"
            >
            {{ valorBotao }}
            </button>
          </mat-list>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
