
<br />
<div class="container">
    <div class="paddin-sobre-mim">
        <h2 class="title">Missão</h2>
        <br />
        <p class="label font" style="text-align: justify;">Conectar vidas</p>
        <br />
        <h2 class="title">Visão</h2>
        <br />
        <p class="label font" style="text-align: justify;">
            Alcançar a geração do século 21 (evangelismo), por meio de uma igreja que vive os
            princípios da palavra (ensino), que busca a unção Deus (adoração), servindo uns aos outros
            (serviço), construindo aliança entre pessoas (comunhão).
        </p>
        <br />
        <h3 class="title">A história até agora</h3>
        <br />
        <p class="label font" style="text-align: justify;">
            Os pastores Cláudio e Renata Machado após um tempo de muita oração o Senhor os
            despertou para a necessidade de plantar no planalto central do Brasil, uma igreja com visão
            nova e contemporânea, onde o foco é conectar vidas a Jesus Cristo, através de equipes
            pequenas e focadas, construindo um ambiente motivante onde cada pessoa tem algo a
            acrescentar.
        </p>
        <p class="label font" style="text-align: justify;">Em junho de 2008 nasceu o Ministério Braço Forte do Senhor.</p>
        <p class="label font" style="text-align: justify;">
            Hoje a cada semana uma multidão composta por gente de todas as partes do Distrito Federal
            se reúne para momentos de profunda comunhão e adoração em Taguatinga, na EQNM 36
            Área esp. 1, M norte, num templo moderno e confortável, recebendo com respeito e amor
            todos aqueles que necessitam de apoio espiritual e moral independente de posição social,
            passado, cor ou religião.
        </p>
        <p class="label font" style="text-align: justify;">
            A música é uma das marcas do Ministério Braço Forte do Senhor, as bandas que tem sido
            geradas nesta igreja tem servido ao povo de Deus ministrando em toda nação, muitos jovens
            sedentos pela unção de Deus tem sido transformados, pois a adoração é um dos pilares que
            sustentam a visão deste ministério que nasceu com o compromisso de marcar nossa geração.
        </p>
    </div>
</div>
<br />
